__pycache__/datasets.cpython-311.pyc
__pycache__/utils.cpython-311.pyc
__pycache__/losses.cpython-311.pyc
__pycache__/metrics.cpython-311.pyc
__pycache__/networks.cpython-311.pyc
__pycache__/trainer.cpython-311.pyc
