# dependencies

numpy==2.2.1
pillow==11.1.0 #PIL
torch==2.5.1+cu118
torchvision==0.20.1
tqdm==4.67.1
tensorboardX==2.6.2.2
ipykernel==6.29.5
jupyter==1.1.1
ipywidgets==8.1.5

matplotlib==3.10.0
opencv-python==4.11.0.86